<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    </body>

    <title>Portfolio</title>

</head>

<body>
    <div class=" frame">

        <div class="main_frame">

            <div class="left_frame">

                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/profile.png" alt="profile-image" width="156px" height="142px">
                    </div>
                    <div class="left_1_2">
                        <%=user.name%>
                    </div>
                    <div class="left_1_3">
                        <%= user.profession%>
                    </div>
                    <div class="left_icons">
                        <a href="link_href">
                            <div class="icon">
                                <img src="icon/Facebook.svg">
                            </div>
                        </a>
                        <a href="link_href">
                            <div class="icon">
                                <img src="icon/Instagram.svg">

                            </div>
                        </a>
                        <a href="link_href">
                            <div class="icon">
                                <img src="icon/Twitter.svg">

                            </div>
                        </a>
                        <a href="link_href">
                            <div class="icon">
                                <img src="icon/Linkeding.svg">

                            </div>
                        </a>
                        <a href="link_href">
                            <div class="icon">
                                <img src="icon/Youtube.svg">

                            </div>
                        </a>
                        <a href="link_href">
                            <div class="icon">
                                <img src="icon/Dribbble.svg">

                            </div>
                        </a>

                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="about">
                        <div class="information">
                            <p>Age:</p>
                            <span>
                                <%=user.age%>
                            </span>

                        </div>
                        <div class="information">
                            <p class="same_size">Residence:</p>
                            <span>
                                <%=user.residence%>
                            </span>

                        </div>
                        <div class="information">
                            <p class="same_size">Freelance:</p>
                            <span>
                                <span>Available</span>

                        </div>
                        <div class="information">
                            <p class="same_size">Adress:</p>
                            <span>
                                <%=user.adress%>
                            </span>

                        </div>
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <h6 class="Language_section">Languages:</h6>
                    <div class="languages">
                        <div class="language_box">
                            <p>Bangla:</p>
                            <span>
                                100%
                            </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="217" height="2" rx="1" fill="#FFB400" />
                            </svg>

                        </div>

                        <div class="information">
                            <p class="same_size">English:</p>
                            <span>
                                80%
                            </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400" />
                            </svg>



                        </div>
                        <div class="information">
                            <p class="same_size">Spanish:</p>
                            <span>
                                <span>
                                    60%
                                </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400" />
                            </svg>

                        </div>

                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <h6 class="Language_section">Skills:</h6>
                    <div class="languages">
                        <div class="language_box">
                            <p>HTMl</p>
                            <span>
                                90%
                            </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="209" height="2" rx="1" fill="#FFB400" />
                            </svg>


                        </div>

                        <div class="information">
                            <p class="same_size">CSS</p>
                            <span>
                                85%
                            </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="207" height="2" rx="1" fill="#FFB400" />
                            </svg>




                        </div>
                        <div class="information">
                            <p class="same_size">Js</p>
                            <span>
                                <span>
                                    80%
                                </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="201" height="2" rx="1" fill="#FFB400" />
                            </svg>


                        </div>

                        <div class="information">
                            <p class="same_size">PHP</p>
                            <span>
                                <span>
                                    75%
                                </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="187" height="2" rx="1" fill="#FFB400" />
                            </svg>


                        </div>

                        <div class="information">
                            <p class="same_size">WordPress</p>
                            <span>
                                <span>
                                    85%
                                </span>

                        </div>
                        <div class="line_1">
                            <svg width="222" height="6" viewBox="0 0 222 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400"
                                    stroke-width="0.5" />
                                <rect x="2" y="2" width="207" height="2" rx="1" fill="#FFB400" />
                            </svg>


                        </div>

                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <h6 class="Language_section">Extra Skills:</h6>
                    <div class="extra_1">
                        <span>
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                            </svg>

                        </span>
                        <span>Boostrap, Materialize</span>
                    </div>
                    <div class="extra_1">
                        <span>
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                            </svg>

                        </span>
                        <span>Stykus,Sass,Less</span>
                    </div>
                    <div class="extra_1">
                        <span>
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                            </svg>

                        </span>
                        <span>Gulp,WebPack,Grunt</span>
                    </div>
                    <div class="extra_1">
                        <span>
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400" />
                                <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400" />
                            </svg>

                        </span>
                        <span>Git Knowledge</span>
                    </div>
                </div>
                <div class="marginer"></div>

            </div>


            <div class="midd_frame">
                <div class="top_frame">
                    <div class="left_top">
                        <h1>Doctor neurogolist in OHSU Hospital</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat
                            lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        <div class="big_hire">
                            <a href="big_hire_link">
                                <span class="hire_me">HIRE ME <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </span></span>
                            </a>
                        </div>

                    </div>
                    <div class="image_frame">
                        <img src="images/Your Image 1.png" alt="">
                    </div>
                </div>


                <div class="bottom_frame">
                    <div class="my_service">
                        <h3>My Service</h3>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor <br> do amet sint. Velit
                                officia
                                consequat duis enim velit mollit. <br> lorem ipsum</p>
                        </div>
                    </div>

                    <div class="technology">
                        <div class="box_1">

                            <div class="coding_item1">
                                <svg width="68" height="68" viewBox="0 0 68 68" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M63.2188 7.4375H4.78125C3.79531 7.43859 2.85007 7.83074 2.1529 8.5279C1.45574 9.22507 1.06359 10.1703 1.0625 11.1562V48.3438C1.06359 49.3297 1.45574 50.2749 2.1529 50.9721C2.85007 51.6693 3.79531 52.0614 4.78125 52.0625H26.0552L24.7802 55.25H19.125C18.8432 55.25 18.573 55.3619 18.3737 55.5612C18.1744 55.7605 18.0625 56.0307 18.0625 56.3125V58.4375H11.6875C11.4057 58.4375 11.1355 58.5494 10.9362 58.7487C10.7369 58.948 10.625 59.2182 10.625 59.5C10.625 59.7818 10.7369 60.052 10.9362 60.2513C11.1355 60.4506 11.4057 60.5625 11.6875 60.5625H56.3125C56.5943 60.5625 56.8645 60.4506 57.0638 60.2513C57.2631 60.052 57.375 59.7818 57.375 59.5C57.375 59.2182 57.2631 58.948 57.0638 58.7487C56.8645 58.5494 56.5943 58.4375 56.3125 58.4375H49.9375V56.3125C49.9375 56.0307 49.8256 55.7605 49.6263 55.5612C49.427 55.3619 49.1568 55.25 48.875 55.25H43.2198L41.9448 52.0625H63.2188C64.2047 52.0614 65.1499 51.6693 65.8471 50.9721C66.5443 50.2749 66.9364 49.3297 66.9375 48.3438V11.1562C66.9364 10.1703 66.5443 9.22507 65.8471 8.5279C65.1499 7.83074 64.2047 7.43859 63.2188 7.4375ZM47.8125 57.375V58.4375H20.1875V57.375H47.8125ZM27.0698 55.25L28.3448 52.0625H39.6552L40.9302 55.25H27.0698ZM64.8125 48.3438C64.8121 48.7663 64.6441 49.1715 64.3453 49.4703C64.0465 49.7691 63.6413 49.9371 63.2188 49.9375H4.78125C4.35867 49.9371 3.9535 49.7691 3.65469 49.4703C3.35588 49.1715 3.18785 48.7663 3.1875 48.3438V45.6875H64.8125V48.3438ZM64.8125 43.5625H3.1875V11.1562C3.18785 10.7337 3.35588 10.3285 3.65469 10.0297C3.9535 9.73088 4.35867 9.56285 4.78125 9.5625H63.2188C63.6413 9.56285 64.0465 9.73088 64.3453 10.0297C64.6441 10.3285 64.8121 10.7337 64.8125 11.1562V43.5625Z"
                                        fill="#FFB400" />
                                    <path
                                        d="M29.1671 34.888C29.2838 34.9646 29.4144 35.0174 29.5514 35.0435C29.6885 35.0696 29.8294 35.0684 29.966 35.04C30.1026 35.0117 30.2323 34.9567 30.3477 34.8782C30.4631 34.7997 30.5618 34.6992 30.6384 34.5826L39.0056 21.8326C39.1602 21.597 39.2149 21.3096 39.1577 21.0337C39.1005 20.7578 38.936 20.5159 38.7004 20.3613C38.4648 20.2066 38.1774 20.1519 37.9015 20.2092C37.6256 20.2664 37.3837 20.4309 37.2291 20.6665L28.8619 33.4165C28.7853 33.5331 28.7324 33.6637 28.7063 33.8008C28.6802 33.9379 28.6813 34.0788 28.7096 34.2155C28.738 34.3521 28.793 34.4819 28.8715 34.5973C28.9499 34.7127 29.0504 34.8115 29.1671 34.888Z"
                                        fill="#FFB400" />
                                    <path
                                        d="M40.7573 34.8165C40.9738 34.9969 41.2531 35.0839 41.5337 35.0583C41.8143 35.0328 42.0733 34.8968 42.2537 34.6804L47.5662 28.3054C47.7253 28.1144 47.8124 27.8738 47.8124 27.6252C47.8124 27.3767 47.7253 27.136 47.5662 26.9451L42.2537 20.5701C42.1647 20.462 42.0551 20.3726 41.9314 20.307C41.8077 20.2413 41.6723 20.2008 41.5328 20.1878C41.3934 20.1747 41.2528 20.1893 41.119 20.2307C40.9853 20.2722 40.861 20.3397 40.7534 20.4293C40.6459 20.519 40.5571 20.629 40.4921 20.7531C40.4272 20.8772 40.3875 21.0128 40.3752 21.1523C40.3629 21.2918 40.3783 21.4324 40.4205 21.5659C40.4627 21.6994 40.5309 21.8233 40.6212 21.9304L45.3668 27.6252L40.6212 33.3201C40.4408 33.5366 40.3538 33.8159 40.3793 34.0965C40.4049 34.3771 40.5408 34.6361 40.7573 34.8165Z"
                                        fill="#FFB400" />
                                    <path
                                        d="M25.7462 34.6804C25.8352 34.7884 25.9448 34.8779 26.0685 34.9435C26.1922 35.0091 26.3276 35.0496 26.4671 35.0627C26.6065 35.0758 26.7471 35.0612 26.8809 35.0197C27.0146 34.9782 27.1389 34.9107 27.2465 34.8211C27.354 34.7315 27.4428 34.6214 27.5078 34.4974C27.5727 34.3733 27.6124 34.2376 27.6247 34.0981C27.637 33.9586 27.6216 33.8181 27.5794 33.6845C27.5372 33.551 27.469 33.4272 27.3787 33.3201L22.6331 27.6252L27.3787 21.9304C27.469 21.8233 27.5372 21.6994 27.5794 21.5659C27.6216 21.4324 27.637 21.2918 27.6247 21.1523C27.6124 21.0128 27.5727 20.8772 27.5078 20.7531C27.4428 20.629 27.354 20.519 27.2465 20.4293C27.1389 20.3397 27.0146 20.2722 26.8809 20.2307C26.7471 20.1893 26.6065 20.1747 26.4671 20.1878C26.3276 20.2008 26.1922 20.2413 26.0685 20.307C25.9448 20.3726 25.8352 20.462 25.7462 20.5701L20.4337 26.9451C20.2746 27.136 20.1875 27.3767 20.1875 27.6252C20.1875 27.8737 20.2746 28.1144 20.4337 28.3054L25.7462 34.6804Z"
                                        fill="#FFB400" />
                                </svg>
                            </div>


                            <div class="tech_heading">
                                <h6>Web Development</h6>
                                <p>Blog , E-Commerce</p>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="box_1">

                            <div class="coding_item1">
                                <svg width="76" height="76" viewBox="0 0 76 76" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2_6449)">
                                        <path
                                            d="M35.3281 55.1431C34.7131 55.1431 34.2148 55.6415 34.2148 56.2563C34.2148 56.8712 34.7131 57.3696 35.3281 57.3696H40.6719C41.2869 57.3696 41.7852 56.8712 41.7852 56.2563C41.7852 55.6415 41.2869 55.1431 40.6719 55.1431H35.3281Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M13.3594 37.8564H20.7183C21.1678 39.0263 22.3002 39.8604 23.6264 39.8604C24.9525 39.8604 26.0849 39.0263 26.5344 37.8564H28.0053C28.6202 37.8564 29.1185 37.358 29.1185 36.7432C29.1185 36.1283 28.6202 35.6299 28.0053 35.6299H26.5344C26.0849 34.46 24.9525 33.626 23.6264 33.626C22.3002 33.626 21.1678 34.46 20.7183 35.6299H13.3594C12.7444 35.6299 12.2461 36.1283 12.2461 36.7432C12.2461 37.358 12.7444 37.8564 13.3594 37.8564ZM23.6264 35.8525C24.1175 35.8525 24.517 36.252 24.517 36.7432C24.517 37.2343 24.1175 37.6338 23.6264 37.6338C23.1352 37.6338 22.7357 37.2343 22.7357 36.7432C22.7357 36.252 23.1352 35.8525 23.6264 35.8525Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M13.3594 31.4736H14.7808C15.2303 32.6435 16.3627 33.4775 17.6889 33.4775C19.015 33.4775 20.1474 32.6435 20.5969 31.4736H28.0053C28.6202 31.4736 29.1185 30.9752 29.1185 30.3604C29.1185 29.7455 28.6202 29.2471 28.0053 29.2471H20.5969C20.1474 28.0772 19.015 27.2432 17.6889 27.2432C16.3627 27.2432 15.2303 28.0772 14.7808 29.2471H13.3594C12.7444 29.2471 12.2461 29.7455 12.2461 30.3604C12.2461 30.9752 12.7444 31.4736 13.3594 31.4736ZM17.6889 29.4697C18.18 29.4697 18.5795 29.8692 18.5795 30.3604C18.5795 30.8515 18.18 31.251 17.6889 31.251C17.1977 31.251 16.7982 30.8515 16.7982 30.3604C16.7982 29.8692 17.1977 29.4697 17.6889 29.4697Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M28.228 21.2314C28.8429 21.2314 29.3413 20.733 29.3413 20.1182C29.3413 19.5033 28.8429 19.0049 28.228 19.0049C27.6132 19.0049 27.1147 19.5033 27.1147 20.1182C27.1147 20.733 27.6132 21.2314 28.228 21.2314Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M25.1602 21.2314C25.775 21.2314 26.2734 20.733 26.2734 20.1182C26.2734 19.5033 25.775 19.0049 25.1602 19.0049C24.5453 19.0049 24.0469 19.5033 24.0469 20.1182C24.0469 20.733 24.5453 21.2314 25.1602 21.2314Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M22.0923 21.2314C22.7071 21.2314 23.2056 20.733 23.2056 20.1182C23.2056 19.5033 22.7071 19.0049 22.0923 19.0049C21.4774 19.0049 20.979 19.5033 20.979 20.1182C20.979 20.733 21.4774 21.2314 22.0923 21.2314Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M72.6602 7.49354H72.2432L72.5542 7.18256C73.4856 6.25112 73.4856 4.73542 72.5542 3.80398L70.1171 1.36693C69.1857 0.435633 67.6701 0.435633 66.7385 1.36693L60.6124 7.49339H3.33984C1.49833 7.49339 0 8.99157 0 10.8332V57.0662C0 59.3171 1.83113 61.1482 4.08203 61.1482H30.4512V69.0236H25.0859C23.6537 69.0236 22.4883 70.1889 22.4883 71.6212V72.7336C22.4883 74.1659 23.6537 75.3313 25.0859 75.3313H50.9141C52.3463 75.3313 53.5117 74.1659 53.5117 72.7336V71.6212C53.5117 70.1889 52.3463 69.0236 50.9141 69.0236H45.5488V61.1482H57.4453C58.0603 61.1482 58.5586 60.6497 58.5586 60.0349C58.5586 59.4201 58.0603 58.9216 57.4453 58.9216H4.08203C3.05885 58.9216 2.22656 58.0894 2.22656 57.0662V53.7709H73.7734V57.0662C73.7734 58.0894 72.9411 58.9216 71.918 58.9216H62.6406C62.0257 58.9216 61.5273 59.4201 61.5273 60.0349C61.5273 60.6497 62.0257 61.1482 62.6406 61.1482H71.918C74.1689 61.1482 76 59.3171 76 57.0662V10.8334C76 8.99187 74.5017 7.49354 72.6602 7.49354ZM50.9141 71.2503C51.1188 71.2503 51.2852 71.4168 51.2852 71.6214V72.7337C51.2852 72.9383 51.1188 73.1048 50.9141 73.1048H25.0859C24.8812 73.1048 24.7148 72.9383 24.7148 72.7337V71.6214C24.7148 71.4168 24.8812 71.2503 25.0859 71.2503H50.9141ZM32.6778 61.1485H43.3224V69.0238H32.6778V61.1485ZM68.313 2.94155C68.3765 2.87817 68.4796 2.87832 68.5428 2.94155L70.9797 5.37845C71.0431 5.44184 71.0431 5.545 70.9797 5.60823L68.6544 7.93351L65.9877 5.26683L68.313 2.94155ZM64.4133 6.84131L67.0798 9.50799L66.3033 10.2845L63.6368 7.61778L64.4133 6.84131ZM62.0623 9.19226L64.729 11.8589L51.555 25.0329L48.8883 22.3662L62.0623 9.19226ZM60.4141 19.3705C61.9283 19.3705 63.1602 20.6024 63.1602 22.1166C63.1602 23.6308 61.9283 24.8627 60.4141 24.8627C58.8999 24.8627 57.668 23.6308 57.668 22.1166C57.668 22.0989 57.6703 22.0818 57.6706 22.0642L60.3621 19.3731C60.3795 19.3728 60.3965 19.3705 60.4141 19.3705ZM49.6218 26.2486L46.3269 27.5944L47.6726 24.2995L49.6218 26.2486ZM73.7734 51.5446H2.22656V10.8334C2.22656 10.2196 2.72591 9.7201 3.33984 9.7201H58.386L56.6884 11.4176H18.8516C18.2366 11.4176 17.7383 11.9161 17.7383 12.5309C17.7383 13.1457 18.2366 13.6442 18.8516 13.6442H54.462L46.6095 21.4971C46.3876 21.721 46.2141 21.9822 46.0946 22.2747L43.6078 28.363C43.3797 28.9221 43.5082 29.5594 43.9353 29.9863C44.2219 30.2729 44.6031 30.4249 44.9919 30.4249C45.1824 30.4249 45.3747 30.3884 45.5586 30.3134L51.6468 27.8268C51.9309 27.7107 52.185 27.5427 52.4047 27.3297L55.7914 23.9434C56.521 25.7839 58.3171 27.0894 60.4142 27.0894C63.1562 27.0894 65.3869 24.8586 65.3869 22.1167C65.3869 20.0199 64.0817 18.2239 62.2415 17.4942L66.0918 13.6443H69.8493V47.6206H69.2593L65.2248 40.6327C64.9175 40.1001 64.2362 39.9176 63.704 40.2252C63.1716 40.5326 62.9892 41.2135 63.2966 41.7459L66.6884 47.6206H51.1366L49.4686 44.7316L57.2445 31.2634L60.6988 37.2467C61.0063 37.7791 61.6872 37.9617 62.2195 37.6541C62.752 37.3467 62.9344 36.6658 62.627 36.1334L58.9417 29.7504C58.5874 29.1368 57.953 28.7704 57.2443 28.7704C56.5357 28.7704 55.9011 29.1368 55.5468 29.7504L48.1828 42.5052L38.7342 26.1398C38.3799 25.5262 37.7454 25.1598 37.0366 25.1598C36.3281 25.1598 35.6936 25.5262 35.3393 26.1398L32.829 30.4877V18.5544C32.829 17.1221 31.6636 15.9567 30.2314 15.9567H11.1328C9.70054 15.9567 8.53516 17.1221 8.53516 18.5544V42.8981C8.53516 43.9213 9.36744 44.7536 10.3906 44.7536H24.593L22.9376 47.6208H6.1508V13.6442H13.6562C14.2712 13.6442 14.7695 13.1457 14.7695 12.5309C14.7695 11.9161 14.2712 11.4176 13.6562 11.4176H5.77971C4.75653 11.4176 3.92424 12.2499 3.92424 13.2731V47.9916C3.92424 49.0148 4.75653 49.8471 5.77971 49.8471H70.2204C71.2436 49.8471 72.0759 49.0148 72.0759 47.9916V13.2731C72.0759 12.2499 71.2436 11.4176 70.2204 11.4176H68.3187L70.0165 9.7201H72.6602C73.2741 9.7201 73.7734 10.2196 73.7734 10.8334V51.5446ZM30.6029 24.7199V42.5267H10.7617V24.7199H30.6029ZM10.7617 22.4933V18.5541C10.7617 18.3495 10.9281 18.183 11.1328 18.183H30.2318C30.4365 18.183 30.6029 18.3495 30.6029 18.5541V22.4933H10.7617ZM27.1641 44.7533H30.974C31.9972 44.7533 32.8295 43.921 32.8295 42.8978V40.5396C33.1079 40.6732 33.418 40.7455 33.7428 40.7455C34.5028 40.7455 35.1833 40.3524 35.5631 39.6944L37.4578 36.4129C37.5151 36.3137 37.6026 36.2928 37.6657 36.2928C37.7291 36.2928 37.8167 36.3137 37.8738 36.4129L39.0419 38.4359C39.4219 39.0943 40.1025 39.4872 40.8626 39.4872C41.6226 39.4872 42.3032 39.0942 42.6831 38.4361L42.9731 37.9338L48.5656 47.6203H25.5087L27.1641 44.7533ZM32.8295 36.8129V34.9405L37.0372 27.6527L41.6875 35.7072L40.8625 37.1361L39.802 35.2994C39.3561 34.5271 38.5575 34.0661 37.6656 34.0661C36.7738 34.0661 35.9752 34.5271 35.5293 35.2994L33.7424 38.3944L32.8295 36.8129Z"
                                            fill="#FFB400" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2_6449">
                                            <rect width="76" height="76" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </div>


                            <div class="tech_heading">
                                <h6>UX/UI Design</h6>
                                <p>Mobile app, website design</p>
                            </div>
                        </div>

                        <!-- 3 -->

                        <div class="box_1">

                            <div class="coding_item1">
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2_6360)">
                                        <path
                                            d="M37.0002 0C29.0179 0 22.522 6.7533 22.522 15.0526V37C22.522 45.3009 29.0179 52.0526 37.0002 52.0526C44.9826 52.0526 51.4785 45.3009 51.4785 37V15.0526C51.4785 6.7533 44.9826 0 37.0002 0ZM37.0002 48.8352C31.3119 48.8352 26.6065 44.3743 25.8552 38.6087H48.1437C47.394 44.3759 42.6886 48.8352 37.0002 48.8352ZM48.2611 35.3913H25.7394V15.0526C25.7394 8.52609 30.7907 3.21739 37.0002 3.21739C43.2098 3.21739 48.2611 8.52609 48.2611 15.0526V35.3913Z"
                                            fill="#FFB400" />
                                        <path
                                            d="M59.5218 28.9565C58.6338 28.9565 57.9131 29.6772 57.9131 30.5652V37C57.9131 48.5312 48.5312 57.9131 37.0001 57.9131C25.4689 57.9131 16.087 48.5312 16.087 37V30.5652C16.087 29.6772 15.3663 28.9565 14.4783 28.9565C13.5903 28.9565 12.8696 29.6772 12.8696 30.5652V37C12.8696 49.7618 22.8355 60.2151 35.3914 61.0484V70.7826H27.3479C26.4599 70.7826 25.7392 71.5033 25.7392 72.3913C25.7392 73.2793 26.4599 74 27.3479 74H46.6522C47.5402 74 48.2609 73.2793 48.2609 72.3913C48.2609 71.5033 47.5402 70.7826 46.6522 70.7826H38.6088V61.0484C51.1646 60.2151 61.1305 49.7618 61.1305 37V30.5652C61.1305 29.6772 60.4098 28.9565 59.5218 28.9565Z"
                                            fill="#FFB400" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2_6360">
                                            <rect width="74" height="74" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </div>


                            <div class="tech_heading">
                                <h6>Sound Design</h6>
                                <p>Voice Over, Beat Making
                                </p>
                            </div>
                        </div>

                        <!-- retry -->


                    </div>

                    <div class="technology_2">
                        <div class="box_2">

                            <div class="coding_item_2">
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="74" height="74" fill="#E5E5E5" />
                                    <g id="Home One page- Light" clip-path="url(#clip0_0_1)">
                                        <rect width="1440" height="8063" transform="translate(-453 -1067)"
                                            fill="#F0F0F6" />
                                        <g id="My Services">
                                            <g id="Game design">
                                                <rect id="Rectangle 48" x="-118" y="-33" width="310" height="225"
                                                    fill="white" />
                                                <g id="Icons/game-development">
                                                    <g id="Icons/game-development_2">
                                                        <g id="Icons/game-development_3">
                                                            <g id="Icons/game-development_4">
                                                                <g id="Icons/game-development_5">
                                                                    <path id="Vector"
                                                                        d="M32.375 38.1562H41.625V40.4688H32.375V38.1562Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_2"
                                                                        d="M35.8438 34.6875H38.1562V43.9375H35.8438V34.6875Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_3"
                                                                        d="M65.9062 38.1562H68.2188V40.4688H65.9062V38.1562Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_4"
                                                                        d="M56.6562 38.1562H58.9688V40.4688H56.6562V38.1562Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_5"
                                                                        d="M61.2812 33.5312H63.5938V35.8438H61.2812V33.5312Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_6"
                                                                        d="M61.2812 42.7812H63.5938V45.0938H61.2812V42.7812Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_7"
                                                                        d="M10.6597 20.3789L5.45654 13.875L10.6597 7.37109L12.4652 8.81641L8.4183 13.875L12.4652 18.9336L10.6597 20.3789Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_8"
                                                                        d="M28.6527 20.3789L26.8472 18.9336L30.8952 13.875L26.8472 8.81641L28.6527 7.37109L33.8547 13.875L28.6527 20.3789Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_9"
                                                                        d="M14.7378 17.7375L22.8338 8.48975L24.5738 10.0124L16.4778 19.2607L14.7378 17.7375Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_10"
                                                                        d="M9.25 50.875H4.625V46.25H6.9375V48.5625H9.25V50.875Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_11"
                                                                        d="M70.5312 2.3125H3.46875C1.55315 2.3125 0 3.86565 0 5.78125V52.0312C0 53.9469 1.55315 55.5 3.46875 55.5H27.75V61.2812C27.75 63.1969 26.1969 64.75 24.2812 64.75H18.5V71.6875H55.5V64.75H49.7188C47.8031 64.75 46.25 63.1969 46.25 61.2812V55.5H70.5312C72.4469 55.5 74 53.9469 74 52.0312V5.78125C74 3.86565 72.4469 2.3125 70.5312 2.3125ZM53.1875 67.0625V69.375H20.8125V67.0625H53.1875ZM37 62.4861C38.9156 62.4861 40.4688 60.9329 40.4688 59.0173V55.5H43.9375V61.2812C43.942 62.5363 44.3587 63.7552 45.1237 64.75H28.8763C29.6413 63.7552 30.058 62.5363 30.0625 61.2812V55.5H33.5312V59.0173C33.5312 60.9329 35.0844 62.4861 37 62.4861ZM35.8438 59.0173V55.5H38.1562V59.0173C38.1562 59.6558 37.6385 60.1736 37 60.1736C36.3615 60.1736 35.8438 59.6558 35.8438 59.0173ZM71.6875 52.0312C71.6875 52.6698 71.1698 53.1875 70.5312 53.1875H3.46875C2.83022 53.1875 2.3125 52.6698 2.3125 52.0312V41.625H25.669C26.6265 46.3319 30.3956 49.9553 35.1369 50.726C39.8776 51.4972 44.6009 49.2547 47.0003 45.0938H52.4349C54.3725 48.4626 57.8774 50.6288 61.7572 50.8558C65.6369 51.0828 69.3699 49.3399 71.6875 46.2201V52.0312ZM62.4375 48.5625C58.923 48.571 55.7112 46.5758 54.1608 43.422L53.8407 42.7812H45.5968L45.2767 43.422C43.2487 47.5107 38.5419 49.5099 34.1918 48.1295C29.8412 46.7485 27.1482 42.4019 27.8494 37.8915C28.55 33.3816 32.436 30.0574 37 30.0625H62.4375C67.5463 30.0625 71.6875 34.2037 71.6875 39.3125C71.6875 44.4213 67.5463 48.5625 62.4375 48.5625ZM71.6875 32.4049C69.5128 29.4793 66.083 27.7534 62.4375 27.75H37C30.6169 27.7568 25.4443 32.9294 25.4375 39.3125H2.3125V5.78125C2.3125 5.14272 2.83022 4.625 3.46875 4.625H70.5312C71.1698 4.625 71.6875 5.14272 71.6875 5.78125V32.4049Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_12"
                                                                        d="M47.4062 38.1562H52.0312V40.4688H47.4062V38.1562Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_13"
                                                                        d="M34.6875 9.25H43.9375V11.5625H34.6875V9.25Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_14"
                                                                        d="M48.5625 9.25H67.0625V11.5625H48.5625V9.25Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_15"
                                                                        d="M50.875 13.875H67.0625V16.1875H50.875V13.875Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_16"
                                                                        d="M37 13.875H46.25V16.1875H37V13.875Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_17"
                                                                        d="M34.6875 18.5H57.8125V20.8125H34.6875V18.5Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_18"
                                                                        d="M62.4375 18.5H67.0625V20.8125H62.4375V18.5Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_19"
                                                                        d="M6.9375 23.125H18.5V25.4375H6.9375V23.125Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_20"
                                                                        d="M23.125 23.125H45.0938V25.4375H23.125V23.125Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_21"
                                                                        d="M48.5625 23.125H67.0625V25.4375H48.5625V23.125Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_22"
                                                                        d="M6.9375 27.75H25.4375V30.0625H6.9375V27.75Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_23"
                                                                        d="M6.9375 32.375H16.1875V34.6875H6.9375V32.375Z"
                                                                        fill="#FFB400" />
                                                                    <path id="Vector_24"
                                                                        d="M18.5 32.375H23.125V34.6875H18.5V32.375Z"
                                                                        fill="#FFB400" />
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_0_1">
                                            <rect width="1440" height="8063" fill="white"
                                                transform="translate(-453 -1067)" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </div>


                            <div class="tech_heading">
                                <h6>Game Design</h6>
                                <p>Character Design, Props & Objects</p>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="box_2">

                            <div class="coding_item_2">
                                <svg width="78" height="78" viewBox="0 0 78 78" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M55.3546 72.9677H74.7125L69.7431 58.0584C68.4435 54.1597 65.1273 51.2686 61.0876 50.5113L47.8062 48.0203V44.9469C50.9879 42.6509 53.2335 39.1535 53.8852 35.1201C56.8543 34.6182 59.1288 32.0454 59.1288 28.9355V20.129C59.1288 9.03039 50.0984 0 38.9998 0C27.9011 0 18.8708 9.03039 18.8708 20.129V28.9355C18.8708 32.0416 21.134 34.6295 24.098 35.1365C24.7522 39.1698 27.0104 42.671 30.1933 44.9657V48.0216L16.9107 50.5126C12.8723 51.2699 9.55479 54.1609 8.25521 58.0597L3.28711 72.9677H22.645V70.4516H19.2243L21.3491 61.9496L18.9085 61.3407L16.6301 70.4516H6.77698L10.643 58.8548C11.6532 55.8228 14.2335 53.5734 17.3749 52.9834L25.3888 51.4813L27.4382 60.7004C26.0996 61.2816 25.1611 62.6126 25.1611 64.1613V74.2258C25.1611 76.3066 26.8544 78 28.9353 78H49.0643C51.1452 78 52.8385 76.3066 52.8385 74.2258V64.1613C52.8385 62.6126 51.9 61.2816 50.5627 60.7004L52.6121 51.4813L60.6259 52.9834C63.7673 53.5734 66.3463 55.8228 67.3578 58.8548L71.2226 70.4516H61.3694L59.0911 61.3407L56.6504 61.9496L58.7753 70.4516H55.3546V72.9677ZM50.1374 51.017L48.4001 58.8346L47.5307 55.3548H42.0368L46.9684 50.4232L50.1374 51.017ZM46.1947 60.3871H31.8049L32.434 57.871H45.5656L46.1947 60.3871ZM38.9998 54.834L32.7095 48.5437V46.4226C34.6268 47.3057 36.7542 47.8064 38.9998 47.8064C41.2467 47.8064 43.3728 47.2995 45.2901 46.4163V48.5437L38.9998 54.834ZM54.0966 32.4782V25.394C55.5572 25.9149 56.6127 27.2987 56.6127 28.9367C56.6127 30.5747 55.5572 31.9574 54.0966 32.4782ZM23.903 32.4945C22.4386 31.975 21.3869 30.576 21.3869 28.9355C21.3869 27.295 22.4386 25.896 23.903 25.3764V32.4945ZM21.3869 23.9359V20.129C21.3869 10.4168 29.2875 2.51613 38.9998 2.51613C48.7121 2.51613 56.6127 10.4168 56.6127 20.129V23.9359C55.8679 23.3723 55.0074 22.9559 54.0563 22.7685C53.8588 21.2827 52.5982 20.129 51.0596 20.129C50.2607 20.129 49.4782 20.4536 48.8492 21.0826C46.7243 23.2075 44.0321 24.5625 41.1159 25.0028L41.1964 24.8417C41.4052 24.4215 41.5159 23.9523 41.5159 23.483V23.166C41.5159 21.4915 40.1534 20.129 38.479 20.129C37.6801 20.129 36.8976 20.4536 36.3314 21.0185C33.6807 23.668 30.1644 25.1374 26.4191 25.1613V22.6452H25.1611C23.7395 22.6452 22.4411 23.1371 21.3869 23.9359ZM26.4191 32.7097V27.6774C30.8362 27.6535 34.9853 25.9224 38.1091 22.7986C38.4123 22.4942 38.9998 22.742 38.9998 23.166V23.483C38.9998 23.5635 38.9809 23.6441 38.9444 23.717L36.9642 27.6774H38.9998C43.393 27.6774 47.5219 25.9677 50.6897 22.7986C50.9942 22.4942 51.5804 22.742 51.5804 23.166V32.7097C51.5804 39.6466 45.9368 45.2903 38.9998 45.2903C32.0628 45.2903 26.4191 39.6466 26.4191 32.7097ZM31.0312 50.4232L35.9628 55.3548H30.4689L29.5995 58.8346L27.8621 51.017L31.0312 50.4232ZM28.9353 75.4839C28.2421 75.4839 27.6772 74.9203 27.6772 74.2258V64.1613C27.6772 63.4668 28.2421 62.9032 28.9353 62.9032H32.8491C31.2124 64.5035 30.1933 66.7303 30.1933 69.1936C30.1933 71.6568 31.2124 73.8836 32.8491 75.4839H28.9353ZM38.9998 75.4839C35.5313 75.4839 32.7095 72.662 32.7095 69.1936C32.7095 65.7251 35.5313 62.9032 38.9998 62.9032C42.4683 62.9032 45.2901 65.7251 45.2901 69.1936C45.2901 72.662 42.4683 75.4839 38.9998 75.4839ZM50.3224 74.2258C50.3224 74.9203 49.7575 75.4839 49.0643 75.4839H45.1505C46.7872 73.8836 47.8062 71.6568 47.8062 69.1936C47.8062 66.7303 46.7872 64.5035 45.1505 62.9032H49.0643C49.7575 62.9032 50.3224 63.4668 50.3224 64.1613V74.2258Z"
                                        fill="#FFB400" />
                                    <path
                                        d="M38.9998 65.4194C36.9189 65.4194 35.2256 67.1128 35.2256 69.1936C35.2256 71.2745 36.9189 72.9678 38.9998 72.9678C41.0806 72.9678 42.774 71.2745 42.774 69.1936C42.774 67.1128 41.0806 65.4194 38.9998 65.4194ZM38.9998 70.4517C38.3066 70.4517 37.7417 69.8881 37.7417 69.1936C37.7417 68.4992 38.3066 67.9356 38.9998 67.9356C39.693 67.9356 40.2578 68.4992 40.2578 69.1936C40.2578 69.8881 39.693 70.4517 38.9998 70.4517Z"
                                        fill="#FFB400" />
                                </svg>

                            </div>


                            <div class="tech_heading">
                                <h6>Photography</h6>
                                <p>Portrait, Product Photography</p>
                            </div>
                        </div>

                        <!-- 3 -->

                        <div class="box_2">




                            <div class="tech_heading">
                                <h6>Advertisement</h6>
                                <p>Copy
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac
                                    dictum a urna viverra morbi.</p>
                            </div>
                            <a class="order_link" href="#">
                                <p class="order_now">ORDER NOW > </p>
                            </a>
                        </div>

                        <!-- retry -->


                    </div>
                </div>

            </div>
            <div class="right_frame">

                <div class="top_right">
                    <div>
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2_576)">
                                <path
                                    d="M15.5 27C8.59625 27 3 21.4037 3 14.5C3 7.59625 8.59625 2 15.5 2C22.4037 2 28 7.59625 28 14.5C28 21.4037 22.4037 27 15.5 27ZM7.16125 20.0312C7.98286 21.2605 9.06683 22.2923 10.3351 23.0523C11.6034 23.8123 13.0245 24.2816 14.4959 24.4264C15.9674 24.5712 17.4526 24.3879 18.8448 23.8897C20.2369 23.3915 21.5012 22.5908 22.5466 21.5452C23.5921 20.4997 24.3927 19.2353 24.8908 17.8432C25.3888 16.451 25.572 14.9657 25.4271 13.4943C25.2822 12.0228 24.8127 10.6018 24.0526 9.3336C23.2925 8.06538 22.2606 6.98149 21.0312 6.16C21.5702 8.08278 21.5875 10.1144 21.0814 12.0461C20.5752 13.9778 19.5639 15.7398 18.1513 17.1513C16.74 18.5637 14.9781 19.5749 13.0467 20.081C11.1152 20.5872 9.08385 20.57 7.16125 20.0312Z"
                                    fill="#2B2B2B" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_576">
                                    <rect width="30" height="30" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>


                    </div>
                </div>
                <div class="right_1">
                    <div>
                        <svg width="65" height="78" viewBox="0 0 65 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2 0C0.895431 0 0 0.89543 0 2V22C0 23.1046 0.89543 24 2 24H26.8039L32 33L37.1962 24H63C64.1046 24 65 23.1046 65 22V2C65 0.895431 64.1046 0 63 0H2Z"
                                fill="#2B2B2B" />
                            <path
                                d="M15.9588 18H17.2756V14.1946H21.6264V18H22.9474V9.27273H21.6264V13.0653H17.2756V9.27273H15.9588V18ZM27.5199 18.1321C29.3651 18.1321 30.571 16.7812 30.571 14.7571C30.571 12.7202 29.3651 11.3693 27.5199 11.3693C25.6747 11.3693 24.4688 12.7202 24.4688 14.7571C24.4688 16.7812 25.6747 18.1321 27.5199 18.1321ZM27.5241 17.0625C26.3182 17.0625 25.7557 16.0099 25.7557 14.7528C25.7557 13.5 26.3182 12.4347 27.5241 12.4347C28.7216 12.4347 29.2841 13.5 29.2841 14.7528C29.2841 16.0099 28.7216 17.0625 27.5241 17.0625ZM31.9933 18H33.2674V13.9645C33.2674 13.0824 33.8853 12.4688 34.6097 12.4688C35.3171 12.4688 35.8072 12.9375 35.8072 13.6491V18H37.0771V13.8281C37.0771 13.0398 37.5586 12.4688 38.3896 12.4688C39.0629 12.4688 39.6168 12.8438 39.6168 13.7301V18H40.891V13.6108C40.891 12.1151 40.0558 11.3693 38.8711 11.3693C37.9293 11.3693 37.2219 11.821 36.9066 12.5199H36.8384C36.5529 11.804 35.9521 11.3693 35.0785 11.3693C34.2134 11.3693 33.57 11.7997 33.2972 12.5199H33.2163V11.4545H31.9933V18ZM45.4197 18.1321C46.8473 18.1321 47.8572 17.429 48.147 16.3636L46.9411 16.1463C46.7109 16.7642 46.157 17.0795 45.4325 17.0795C44.3416 17.0795 43.6087 16.3722 43.5746 15.1108H48.228V14.6591C48.228 12.294 46.8132 11.3693 45.3303 11.3693C43.5064 11.3693 42.3047 12.7585 42.3047 14.7699C42.3047 16.8026 43.4893 18.1321 45.4197 18.1321ZM43.5788 14.1562C43.63 13.2273 44.3033 12.4219 45.3388 12.4219C46.3274 12.4219 46.9751 13.1548 46.9794 14.1562H43.5788Z"
                                fill="white" />
                            <circle cx="33" cy="58" r="20" fill="#FFB400" />
                            <g clip-path="url(#clip0_2_580)">
                                <path
                                    d="M39 63.9999C39 64.1989 38.921 64.3896 38.7803 64.5303C38.6397 64.6709 38.4489 64.7499 38.25 64.7499H27.75C27.5511 64.7499 27.3603 64.6709 27.2197 64.5303C27.079 64.3896 27 64.1989 27 63.9999V57.2499H24.75L32.4952 50.2089C32.6333 50.0833 32.8133 50.0137 33 50.0137C33.1867 50.0137 33.3667 50.0833 33.5048 50.2089L41.25 57.2499H39V63.9999Z"
                                    fill="#2B2B2B" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_580">
                                    <rect width="18" height="18" fill="white" transform="translate(24 49)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </div>
                    <div>
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="#F0F0F6" />
                            <g clip-path="url(#clip0_2_590)">
                                <path
                                    d="M28.5 15.287V15.5H23V11H23.2603C23.5338 11 23.7962 11.0889 23.9896 11.2471L28.198 14.6904C28.3913 14.8486 28.5 15.0632 28.5 15.287ZM22.6562 16.625C22.0891 16.625 21.625 16.2453 21.625 15.7812V11H13.0312C12.4617 11 12 11.3778 12 11.8438V28.1562C12 28.6222 12.4617 29 13.0312 29H27.4688C28.0383 29 28.5 28.6222 28.5 28.1562V16.625H22.6562ZM17.294 25.0803C17.2732 25.0984 17.2482 25.1131 17.2204 25.1234C17.1926 25.1337 17.1627 25.1394 17.1322 25.1402C17.1018 25.141 17.0714 25.1368 17.0429 25.1281C17.0144 25.1193 16.9883 25.106 16.966 25.0889L14.1788 22.951C14.1557 22.9332 14.1372 22.9118 14.1246 22.888C14.112 22.8641 14.1055 22.8384 14.1055 22.8125C14.1055 22.7865 14.112 22.7608 14.1246 22.737C14.1372 22.7132 14.1557 22.6917 14.1788 22.674L16.966 20.5361C16.9883 20.519 17.0144 20.5057 17.0429 20.4969C17.0714 20.4881 17.1018 20.484 17.1322 20.4848C17.1627 20.4856 17.1926 20.4913 17.2204 20.5016C17.2482 20.5119 17.2732 20.5265 17.294 20.5447L18.1353 21.2789C18.1566 21.2975 18.173 21.3194 18.1838 21.3432C18.1945 21.3671 18.1993 21.3925 18.1978 21.4179C18.1963 21.4433 18.1886 21.4682 18.1751 21.4911C18.1616 21.514 18.1426 21.5345 18.1193 21.5513L16.3678 22.8125L18.1193 24.0737C18.1426 24.0905 18.1616 24.111 18.1751 24.1339C18.1886 24.1568 18.1963 24.1817 18.1978 24.2071C18.1993 24.2325 18.1945 24.2579 18.1838 24.2818C18.173 24.3056 18.1566 24.3275 18.1353 24.3461L17.294 25.0803ZM19.4981 26.8549L18.3185 26.5747C18.2594 26.5607 18.2095 26.528 18.1799 26.4839C18.1502 26.4398 18.1432 26.3878 18.1603 26.3394L20.8003 18.8995C20.8175 18.8511 20.8574 18.8103 20.9113 18.7861C20.9653 18.7618 21.0287 18.756 21.0878 18.7701L22.2674 19.0503C22.2967 19.0572 22.324 19.0688 22.3478 19.0844C22.3716 19.1 22.3914 19.1192 22.406 19.1411C22.4207 19.1629 22.43 19.1869 22.4334 19.2117C22.4367 19.2365 22.434 19.2616 22.4256 19.2855L19.7856 26.7255C19.7771 26.7494 19.7629 26.7718 19.7439 26.7913C19.7248 26.8107 19.7013 26.8269 19.6746 26.8389C19.6479 26.851 19.6186 26.8586 19.5883 26.8613C19.558 26.864 19.5274 26.8619 19.4981 26.8549ZM26.4071 22.951L23.6199 25.0889C23.5977 25.106 23.5716 25.1193 23.5431 25.1281C23.5145 25.1368 23.4842 25.141 23.4537 25.1402C23.4233 25.1394 23.3933 25.1337 23.3655 25.1234C23.3378 25.1131 23.3128 25.0984 23.2919 25.0803L22.4506 24.346C22.4293 24.3275 22.4129 24.3056 22.4021 24.2817C22.3914 24.2579 22.3866 24.2325 22.3881 24.2071C22.3896 24.1817 22.3973 24.1568 22.4108 24.1338C22.4243 24.1109 22.4433 24.0905 22.4666 24.0737L24.2182 22.8125L22.4666 21.5513C22.4433 21.5345 22.4243 21.514 22.4108 21.4911C22.3974 21.4682 22.3896 21.4433 22.3882 21.4179C22.3867 21.3925 22.3914 21.3671 22.4022 21.3432C22.4129 21.3194 22.4294 21.2975 22.4506 21.2789L23.292 20.5447C23.3128 20.5265 23.3378 20.5119 23.3656 20.5016C23.3934 20.4913 23.4233 20.4856 23.4538 20.4848C23.4842 20.484 23.5146 20.4881 23.5431 20.4969C23.5716 20.5057 23.5977 20.519 23.62 20.5361L26.4072 22.674C26.4303 22.6917 26.4488 22.7132 26.4614 22.737C26.474 22.7608 26.4805 22.7865 26.4805 22.8125C26.4805 22.8385 26.474 22.8641 26.4613 22.888C26.4487 22.9118 26.4303 22.9332 26.4071 22.951Z"
                                    fill="#767676" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_590">
                                    <rect width="16.5" height="18" fill="white" transform="translate(12 11)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </div>
                    <div>
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="#F0F0F6" />
                            <g clip-path="url(#clip0_2_594)">
                                <path
                                    d="M23.7636 22.272L20.25 25.6259L16.7364 22.272C14.103 22.381 12 24.4376 12 26.9759V27.3134C12 28.245 12.7919 29.0009 13.7679 29.0009H26.7321C27.7081 29.0009 28.5 28.245 28.5 27.3134V26.9759C28.5 24.4376 26.397 22.381 23.7636 22.272ZM12.5009 13.8064L12.7366 13.8591V15.9122C12.4788 16.0599 12.2946 16.3165 12.2946 16.6259C12.2946 16.9212 12.4641 17.1673 12.7035 17.3185L12.1289 19.5087C12.0663 19.7513 12.2063 20.0009 12.4088 20.0009H13.9483C14.1509 20.0009 14.2908 19.7513 14.2282 19.5087L13.6537 17.3185C13.8931 17.1673 14.0625 16.9212 14.0625 16.6259C14.0625 16.3165 13.8783 16.0599 13.6205 15.9122V14.063L16.0513 14.622C15.7346 15.2267 15.5357 15.9017 15.5357 16.6259C15.5357 19.1114 17.6461 21.1259 20.25 21.1259C22.8539 21.1259 24.9643 19.1114 24.9643 16.6259C24.9643 15.9017 24.7691 15.2267 24.4487 14.622L27.9954 13.8064C28.6657 13.6517 28.6657 12.8536 27.9954 12.6989L20.9829 11.0817C20.5041 10.9728 19.9996 10.9728 19.5208 11.0817L12.5009 12.6954C11.8343 12.8501 11.8343 13.6517 12.5009 13.8064Z"
                                    fill="#767676" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_594">
                                    <rect width="18" height="18" fill="white" transform="translate(11 11)" />
                                </clipPath>
                            </defs>
                        </svg>


                    </div>
                    <div>
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="#F0F0F6" />
                            <g clip-path="url(#clip0_2_598)">
                                <path
                                    d="M17.75 20.75V23H22.25V20.75H27.5V26C27.5 26.1989 27.421 26.3897 27.2803 26.5303C27.1397 26.671 26.9489 26.75 26.75 26.75H13.25C13.0511 26.75 12.8603 26.671 12.7197 26.5303C12.579 26.3897 12.5 26.1989 12.5 26V20.75H17.75ZM19.25 19.25H20.75V21.5H19.25V19.25ZM16.25 14.75V12.5C16.25 12.3011 16.329 12.1103 16.4697 11.9697C16.6103 11.829 16.8011 11.75 17 11.75H23C23.1989 11.75 23.3897 11.829 23.5303 11.9697C23.671 12.1103 23.75 12.3011 23.75 12.5V14.75H26.75C26.9489 14.75 27.1397 14.829 27.2803 14.9697C27.421 15.1103 27.5 15.3011 27.5 15.5V19.25H22.25V17.75H17.75V19.25H12.5V15.5C12.5 15.3011 12.579 15.1103 12.7197 14.9697C12.8603 14.829 13.0511 14.75 13.25 14.75H16.25ZM17.75 13.25V14.75H22.25V13.25H17.75Z"
                                    fill="#767676" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_598">
                                    <rect width="18" height="18" fill="white" transform="translate(11 11)" />
                                </clipPath>
                            </defs>
                        </svg>


                    </div>
                    <div>
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="#F0F0F6" />
                            <g clip-path="url(#clip0_2_602)">
                                <path
                                    d="M26.75 12.5C15.5 12.5 14 23 13.25 27.5H14.7485C15.248 25.0002 16.4983 23.6255 18.5 23.375C21.5 23 23.75 20.375 24.5 18.125L23.375 17.375L24.125 16.625C24.875 15.875 25.628 14.75 26.75 12.5Z"
                                    fill="#767676" />
                                <rect x="-27" y="-33" width="100" height="100" fill="#D9D9D9" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_602">
                                    <rect width="18" height="18" fill="white" transform="translate(11 11)" />
                                </clipPath>
                            </defs>
                        </svg>


                    </div>
                    <div>
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="#F0F0F6" />
                            <g clip-path="url(#clip0_2_606)">
                                <path
                                    d="M15.8412 25.25L12.5 27.875V14C12.5 13.8011 12.579 13.6103 12.7197 13.4697C12.8603 13.329 13.0511 13.25 13.25 13.25H26.75C26.9489 13.25 27.1397 13.329 27.2803 13.4697C27.421 13.6103 27.5 13.8011 27.5 14V24.5C27.5 24.6989 27.421 24.8897 27.2803 25.0303C27.1397 25.171 26.9489 25.25 26.75 25.25H15.8412Z"
                                    fill="#767676" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2_606">
                                    <rect width="18" height="18" fill="white" transform="translate(11 11)" />
                                </clipPath>
                            </defs>
                        </svg>


                    </div>




                </div>

            </div>
        </div>
    </div>
</body>

</html>